# System files
.DS_Store
Thumbs.db

# Logs
*.log
video_downloader.log

# Temporary files
*.tmp
*.bak

# Python virtual environment
venv/
__pycache__/

# Confidential files
.env

# Frontend dependencies
frontend/node_modules/
